@use "reset";

//variables
$primary-color: hsl(35, 77%, 62%);
$secondary-color: hsl(5, 85%, 63%);
$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

@mixin Flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

//Generic css classes
.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.link {
  cursor: pointer;
  text-decoration-line: none;
  color: currentColor;
}

.list {
  padding: 0;
  margin: 0;
}

.list-item {
  list-style-type: none;
}

//Visually Hidden
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

//=====================//

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  background-color: $Off-white;

  @include Flex(column, center, center);
  min-height: 100vh;
}

// header section //
header {
  @include Flex(row, center, space-between);
  width: 100%;
  background: #fff;
  padding: 1rem;
}

.logo-link {
  padding: 0.5rem;
  border-radius: 4px;
}

.logo-link:focus-visible {
  outline-offset: 5px;
  outline: solid 3px #000;
}

.logo-image {
  max-width: 3rem;
}

.hamburger-menu-button {
  padding: 0.5rem;
  border-radius: 4px;
}

.hamburger-menu-button:focus-visible {
  outline-offset: 5px;
  outline: solid 3px #000;
}

.nav-list {
  display: none;
}

.nav-item {
  opacity: 0.7;
}

.nav-link {
  font-weight: 600;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-link:hover {
  color: $secondary-color;
}
//============================//

// main section //
main {
  max-width: 22rem;
}

.web-evolution-wrapper {
  margin-bottom: 4rem;
}

.main-picture {
  margin-block: 1rem;
}

.main-heading {
  font-size: 2.7rem;
  font-weight: 800;
  text-wrap: wrap;
  margin-bottom: 0.8rem;
}

.main-paragraph {
  opacity: 0.7;
  font-size: 0.9375rem;
  margin-bottom: 2rem;
  max-width: 36ch;
}

.main-link {
  background-color: $secondary-color;
  padding: 0.6rem;
  padding-inline: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: color 0.1s 0.1s ease-in, background-color 0.1s ease-in;
}

.main-link:hover {
  background-color: $Very-dark-blue;
  color: $Off-white;
  font-weight: 600;
}

// featured section
.featured-container {
  background-color: $Very-dark-blue;
  color: $Off-white;
  padding: 1rem;
  margin-bottom: 4rem;
}

.featured-heading {
  font-size: 2rem;
  font-weight: 700;
  color: $primary-color;
  margin-bottom: 2rem;
}

.featured-list {
  @include Flex(column, start, start);
  gap: 2.5rem;
}

.featured-item {
  @include Flex(column, start, start);
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid $Dark-grayish-blue;
  padding-bottom: 2rem;
}

.featured-item:last-of-type {
  border: none;
  padding: 0;
}

.featured-link {
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.featured-link:hover {
  color: $primary-color;
}

.featured-text {
  font-size: 0.9375rem;
  opacity: 0.7;
}
//=====================================//

// Popular section //
.popular-container {
  margin-bottom: 2rem;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  place-items: start;
  place-content: center;
}

.popular-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  place-content: center;
  place-items: start;
}

.popular-image {
  grid-area: 1/1/4/2;
  width: 7.5rem;
}

.popular-span {
  grid-area: 1/2/2/3;
  font-size: 2rem;
  color: $secondary-color;
  font-weight: 700;
  margin-left: 1rem;
}

.popular-heading {
  grid-area: 2/2/3/3;
  margin-left: 1rem;
}

.popular-link {
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.popular-link:hover {
  color: $secondary-color;
}

.popular-text {
  grid-area: 3/2/4/3;
  font-size: 0.9375rem;
  margin-left: 1rem;
  opacity: 0.7;
}
//=======================//

//Footer
.footer {
  width: 100%;
  padding: 0.5rem;
}

.footer-attribution {
  text-align: center;
  text-wrap: balance;
  font-size: 0.875rem;
}
//======================//

//large screens

@media (min-width: 48rem) {
  header {
    max-width: 34rem;
  }

  main {
    max-width: 34rem;
  }

  .main-paragraph {
    max-width: 42ch;
  }
} //Tablet screen

@media (min-width: 80rem) {
  .hamburger-menu-button {
    display: none;
  }

  header {
    max-width: 72rem;
    padding: 0;
    margin-bottom: 2rem;
  }

  .nav-list {
    @include Flex(row, center, center);
    gap: 2rem;
  }

  //===========================//

  main {
    max-width: 72rem;
    display: grid;
    place-content: center;
    gap: 3rem 2rem;

    grid-template-columns: repeat(3, 1fr);
  }

  .web-evolution-wrapper {
    margin: 0;

    display: grid;
    place-items: start;
    place-content: center;
    gap: 2rem;

    grid-template-columns: repeat(2, 1fr);

    //grid placement on main
    grid-area: 1/1/2/3;
  }

  .main-picture {
    margin: 0;
    grid-area: 1/1/2/3;
  }

  .main-heading {
    margin: 0;
    max-width: 8ch;
    font-size: 3rem;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    //grid placement on main
    grid-area: 2/2/3/3;
  }

  .main-paragraph {
    margin: 0;
    max-width: 36ch;
  }
  //==================//

  //Featured section
  .featured-container {
    margin: 0;

    //grid placement on main
    grid-area: 1/3/2/4;
  }

  .featured-list {
    padding: 0.7rem;
  }

  //Popular section
  .popular-container {
    //grid placement on main
    grid-area: 2/1/2/4;
  }

  .popular-list {
    display: grid;
    place-content: center;

    grid-template-columns: repeat(3, 1fr);
  }
} //Desktop screen
